01_Hello_SDL/Bak/
02_Getting_An_Image_One_The_Screen/Bak/
02_Getting_An_Image_One_The_Screen/Res/hello_world.png
03_Event_Driven_Programming/Bak/
04_Key_Presses/Bak/
05_Optimized_Surface/Bak/
06_Extension_Libraries/Res/
07_Texture_Loading_And_Rendering/Res/
08_Geometry_Rendering/Res/
09_The_Viewport/Res/
10_Color_Keying/Res/
12_Color_Modulation/Res/
17_Mouse_Events/main.lst
